.about-container {
  height: 100vh;
}

.about-text {
  position: relative;
  top: 300px;
  align-items: center; /* Centers content vertically */
  margin: 0px 200px 0px 20px;
  font-size: 50px;
  z-index: 1;
}

.linkedin-photo {
  height: 500px;
  position: absolute;
  top: 850px;
  left: 70%;
  z-index: 0;
}
