.about-container {
  height: auto;
  min-height: 100vh;
  width: 100%; /* Ensures the container takes full width */
  overflow: hidden; /* Clears the float, ensuring the container encloses the floated image */
}

.about-text {
  margin: 325px 0px 0px 20px;
  font-size: 50px;
  z-index: 1;
}

.linkedin-photo {
  float: right; /* Floats the image to the right */
  height: 400px;
  z-index: 0;
  margin: 250px 150px 0px 40px;
}

@media (max-width: 768px) {
  .linkedin-photo {
    float: none;
    width: 100%; /* Make the image take full width on small screens */
    margin: 0 auto; /* Center align the image */
  }

  .about-text {
    margin: 20px;
  }
}
