html {
  scroll-behavior: smooth;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgb(157, 157, 157);
  color: #000000;
  font-family: sans-serif; /* Ensure a default font is set */
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: 'Nineties';

}

@font-face {
  font-family: 'Lingkawi';
  src: url('../public/Lingkawi-South.otf') format('opentype');
}
@font-face {
  font-family: 'Spartan';
  src: url('../public/LeagueSpartan-VF.ttf');
}
@font-face {
  font-family: 'Nineties';
  src: url('../public/PerfectlyNineties-Regular.otf');
}



.banner {
  position: relative;
  height: 100vh; /* Ensure full viewport height */
  width: 100vw; /* Ensure full viewport width */
  display: flex; /* Added flex to center content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  perspective: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.header {
  color: black;
  animation: fadeIn s ease-out forwards; /* Adjust timing as needed */
}

.skills {
  height: 100vh;
}

.projects {
  height: 100vh;
}

.chrome {
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 1250pt;
  transition: transform 0.1s linear; /* Smooth transitions on movement */
  transform-style: preserve-3d; /* Necessary for 3D transformations */
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

/* Each section should be a snap point */
.snap-section {
  scroll-snap-align: start;
  height: 100vh; /* Make each section fill the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}