html {
  scroll-behavior: smooth;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgb(255, 246, 231);
  color: #000000;
  font-family: sans-serif; /* Ensure a default font is set */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

@font-face {
  font-family: 'Lingkawi';
  src: url('../public/Lingkawi-South.otf') format('opentype');
}

.banner {
  height: 100vh; /* Ensure full viewport height */
  width: 100vw; /* Ensure full viewport width */
  display: flex; /* Added flex to center content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.name {
  font-size: 20vw; /* This might be too large depending on the viewport, consider responsive units like vw */
  font-family: 'Lingkawi', sans-serif; /* Fallback to sans-serif */
  color: #000000;
  position: relative; /* Changed from absolute to relative within flex context */
  left: 5vw; /* Maintain left offset */
  top: 30vh
}

.header {
  color: black;
}

.about {
  height: 100vh;
}

.skills {
  height: 100vh;
}

.projects {
  height: 100vh;
}

.chrome {
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 1250pt;

}