html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Lingkawi';
  src: url('../public/Lingkawi-South.otf') format('opentype');
}

.banner {
  height: 100wh;
  width: 100vw;
}

.name {
  position: absolute;
  font-size: 225pt;
  font-family: 'Lingkawi';
  top: 20%;
  left: 5vw;

}

.header {
  position: fixed;  /* Fixed position */
  top: 0;           /* Align to the top of the viewport */
  left: 0;          /* Align to the left of the viewport */
  width: 100%;      /* Full width */
  background-color: #f8f9fa; /* Light grey background, you can change it as needed */
  padding: 10px 20px; /* Some padding around the text */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Adding some shadow for better visibility */
  z-index: 1000;   /* Make sure it's on top of other content */
}

h1 {
  margin: 0;
  font-size: 24px; /* Adjust size as needed */
}


