.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 30px;
  z-index: 1000;  /* Make sure it's on top of other content */
}

.hover-area-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-left {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.header-options-left {
  display: none;
  position: absolute;
  top: 20px;  /* Adjust based on circle size and desired dropdown start point */
  left: -5px;
  padding: 5px;
  border-radius: 5px;
  z-index: -1;
}

.hover-area-left:hover .header-options-left {
  display: block; /* Show the options when hovering */
}
