/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Allows positioning the close button relative to this container */
  width: 90%;
}

.video-container {
  position: relative; /* Allows absolute positioning of elements inside */
}

.close-button {
  position: relative;
  bottom: 655px;
  left: -30px;
  background: transparent; /* Ensure it's visible against video backgrounds */
  color: rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
  z-index: 10; /* Ensure it's above the video */
  font-family: Arial, Helvetica, sans-serif;
}
