.project-container {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center;     /* Center children horizontally */
  height: 100vh;           /* Full viewport height */
}

.projects-title {
  margin-top: 20px; /* Provide some space at the top */
}

.keyboard-container {
  flex-grow: 1;            /* Allow the container to take up all available space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}
