.project-container {
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  align-items: center;     /* Center children horizontally */
  height: 100vh;           /* Full viewport height */
  width: 100%;
}

.projects-title {
  margin-top: 20px; /* Provide some space at the top */
}

.keyboard-container {
  position: relative;
  width: 70%;
  flex-grow: 1;            /* Allow the container to take up all available space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

.keyboard {
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
}


.interactive-area {
  position: relative;
  cursor: pointer;
  background-color: transparent; /* Transparent */
  outline: none; /* Remove outline if you have it during testing */
}
