.Skills {
  text-align: center; /* Centers text horizontally */
  margin-top: 40px;
}

.carousel {
  height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Skills.css */
.grid-container {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust for desired column width */
  gap: 16px; /* Space between grid items */
  padding: 20px;
  margin: 0px 50px 0px 50px;
}

.grid-item {
display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  overflow: hidden; /* Prevents images from overflowing their container */
  background-color: transparent; /* Optional: for better visibility of grid layout */
  border-radius: 8px; /* Optional: for aesthetic rounded corners */
  height: 200px; /* Set a fixed height or keep it flexible */
}

.grid-item img {
  width: 50%; /* Ensures the image covers the full width of the item */
  height: auto; /* Keeps the image's aspect ratio intact */
  object-fit: cover; /* Ensures the image covers the area without distorting */
}
