.carousel {
  height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Skills.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax for minimum and fluid column width */
  gap: 16px; /* Space between items */
  padding: 20px;
  align-items: stretch; /* Ensures all grid items are the same height */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents images from overflowing their container */
  background-color:transparent; /* Optional background color */
  border-radius: 8px; /* Optional border radius for aesthetics */
}

.grid-item img {
  width: 100%; /* Ensures the image covers the full width of the item */
  height: auto; /* Keeps the image's aspect ratio intact */
  object-fit: cover; /* Ensures the image covers the area without distorting */
}
